@import './colors.scss';

@each $key, $color in $colors {
    .theme-#{$key}{
        background: $color;
    }
}

.global-styles {

    &__body{
        background: map-get($colors, 'white');
        margin: 0;
    }

    &__header{
        background: map-get($colors, 'black');
        color: map-get($colors, 'white');
        padding: 15px 120px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-bottom: 10px;
        font: 300 12px/.5 'Merriweather', serif;
    }

    &__description{
        width: 925px;
        margin: auto;
    }

    &__footer{
        padding: 40px 120px;
        display: flex;
        justify-content: center;
        text-align: center;
        background: map-get($colors, 'footer');
    }
    
    @media screen and (max-width: 1024px) {
        &__header{
            align-items: center;
        }
        
        &__description{
            line-height: 18px;
            text-align: center;
            width: unset;
        }
    }
}