@import '../../colors.scss';

.type-filter{
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    select{
        border: 1px solid map-get($colors, 'light-gray');
        height: 30px;
        border-radius: 2px;
        font: 300 11px/1 'Merriweather', serif;
    }

    label{
        font: 400 12px/1 'Merriweather', serif;
        margin-right: 5px;
    }
    
    @media screen and (max-width: 1024px) {}
}

