.home{
    display: flex;
    flex-direction: column;
    margin: auto auto;
    max-width: 1000px;
    padding: 15px 120px;

    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: auto;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
    @media screen and (max-width: 1024px) {
        align-items: center;
        padding: 15px 30px;

        &__list{
            display: flex;
            flex-direction: column;
        }
    
    }

}



